body {
	font-family: helvetica, serif;
}

p {
	text-indent: 2em;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-shadow {
	text-shadow: 5px 5px 5px grey;
}
